
define host{
        use linux-server
        host_name {{ instance_name }}
        alias {{ instance_name }}
        address {{ ansible_eth0.ipv4.address}}
}

define service {
        name                            ping ; The 'name' of this service template
        active_checks_enabled           1       ; Active service checks are enabled
        passive_checks_enabled          1       ; Passive service checks are enabled/accepted
        parallelize_check               1       ; Active service checks should be parallelized (disabling this can lead to major performance problems)
        obsess_over_service             1       ; We should obsess over this service (if necessary)
        check_freshness                 0       ; Default is to NOT check service 'freshness'
        notifications_enabled           1       ; Service notifications are enabled
        event_handler_enabled           1       ; Service event handler is enabled
        flap_detection_enabled          1       ; Flap detection is enabled
        process_perf_data               1       ; Process performance data
        retain_status_information       1       ; Retain status information across program restarts
        retain_nonstatus_information    1       ; Retain non-status information across program restarts
        register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
        is_volatile                     0
        max_check_attempts              1
        normal_check_interval           1
        retry_check_interval            1
        notification_options            c,r
        notification_interval           960
        notification_period             24x7
        service_description             SO : PING
        check_command                   check_ping!300.0,40%!800.0,80%
        host_name                       {{ instance_name }}
}
