
define host{
        use linux-server
        host_name {{ instance_name }}
        alias {{ instance_name }}
        address {{ ansible_eth0.ipv4.address}}
}

define service {
        use ping
        host_name {{ instance_name }}
}
